.upper {
  color: aliceblue;
  background-color: #131921;
  display: flex;
  justify-content: space-evenly;
  position: static;
  float: none;

  flex-flow: row nowrap;
  height: 60px;
  width: 100%;
  font-size: 14px;
  z-index: 5;
  padding-top: 10px;
}
.lower {
  background-color: #232f3e;
  display: flex;
  position: static;
  float: none;

  flex-flow: row nowrap;
  height: 39px;
  width: 100%;
  font-size: 14px;
  z-index: 5;
}
.deliver {
  position: relative;
  bottom: 13px;

  display: inline-block;
  width: 90px;
  height: 60px;
  padding: 0 10px;
}
.img {
  display: inline-block;
  height: 60px;
}
.ussection {
  left: 90px;

  display: flex;
  position: static;
  float: none;
}
.searchbar {
  display: inline-block;
  height: 34px;
  width: 800px;
}
.search {
  height: 40px;
  border: 2px solid #8f9cad;
  border-radius: 5px;
  background-color: #f3f3f3;
}
.searchIcon {
  position: relative;
  top: 1px;
  text-align: center;
  bottom: 10px;
  display: inline-block;

  height: 100%;
  color: #000;
  width: 45px;
}
.utsection {
  display: flex;
  position: static;
  float: none;

  flex-flow: row nowrap;
}
.searchIcon2 {
  position: relative;
  bottom: 10px;
  display: inline-block;
  height: 40px;
  width: 45px;
  background-color: orange;
  color: black;
}
.flag {
  display: inline-block;
  color: #f3f3f3;

  margin-left: 5%;
  position: relative;
  top: 17%;
  background-color: #131921;
  border: #131921;
  height: 30px;
}
.lower {
  display: flex;
  justify-content: space-evenly;
}
.cata {
  margin-top: 5px;
  margin-left: 15px;
  color: white;
}
.rocket {
  margin-top: 5px;
  margin-left: 15px;
  color: white;
}
